<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.AnnouncementsMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Announcements" >
    <id column="announcements_id" property="announcementsId" jdbcType="INTEGER" />
    <result column="announcements_date" property="announcementsDate" jdbcType="TIMESTAMP" />
    <result column="announcements_notifier" property="announcementsNotifier" jdbcType="VARCHAR" />
    <result column="announcements_content" property="announcementsContent" jdbcType="VARCHAR" />
    <result column="announcements_notifierId" property="announcementsNotifierid" jdbcType="INTEGER" />
    <result column="announcements_topic" property="announcementsTopic" jdbcType="VARCHAR" />
    <result column="announcements_state" property="announcementsState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    announcements_id, announcements_date, announcements_notifier, announcements_content, 
    announcements_notifierId, announcements_topic, announcements_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oas_announcements
    where announcements_id = #{announcementsId,jdbcType=INTEGER}
  </select>
  <select id="selectByVague" resultMap="BaseResultMap" parameterType="Map" >
    SELECT * FROM (SELECT * FROM (SELECT * FROM
  oas_announcementsextent a left join oas_announcements b
  on a.announcementsExtent_announcementsId = b.announcements_id) a left join oas_department b
  on a.announcementsExtent_departmentId = b.dep_id) a left join oas_staff b
  on a.dep_id = b.staff_depID WHERE staff_id = #{uId,jdbcType=INTEGER} and ${field} like ${content}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_announcements
    where announcements_id = #{announcementsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Announcements"
          useGeneratedKeys="true" keyProperty="announcementsId">
    insert into oas_announcements (announcements_id, announcements_date, 
      announcements_notifier, announcements_content, 
      announcements_notifierId, announcements_topic, 
      announcements_state)
    values (#{announcementsId,jdbcType=INTEGER}, #{announcementsDate,jdbcType=TIMESTAMP}, 
      #{announcementsNotifier,jdbcType=VARCHAR}, #{announcementsContent,jdbcType=VARCHAR}, 
      #{announcementsNotifierid,jdbcType=INTEGER}, #{announcementsTopic,jdbcType=VARCHAR}, 
      #{announcementsState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Announcements" >
    insert into oas_announcements
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="announcementsId != null" >
        announcements_id,
      </if>
      <if test="announcementsDate != null" >
        announcements_date,
      </if>
      <if test="announcementsNotifier != null" >
        announcements_notifier,
      </if>
      <if test="announcementsContent != null" >
        announcements_content,
      </if>
      <if test="announcementsNotifierid != null" >
        announcements_notifierId,
      </if>
      <if test="announcementsTopic != null" >
        announcements_topic,
      </if>
      <if test="announcementsState != null" >
        announcements_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="announcementsId != null" >
        #{announcementsId,jdbcType=INTEGER},
      </if>
      <if test="announcementsDate != null" >
        #{announcementsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="announcementsNotifier != null" >
        #{announcementsNotifier,jdbcType=VARCHAR},
      </if>
      <if test="announcementsContent != null" >
        #{announcementsContent,jdbcType=VARCHAR},
      </if>
      <if test="announcementsNotifierid != null" >
        #{announcementsNotifierid,jdbcType=INTEGER},
      </if>
      <if test="announcementsTopic != null" >
        #{announcementsTopic,jdbcType=VARCHAR},
      </if>
      <if test="announcementsState != null" >
        #{announcementsState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Announcements" >
    update oas_announcements
    <set >
      <if test="announcementsDate != null" >
        announcements_date = #{announcementsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="announcementsNotifier != null" >
        announcements_notifier = #{announcementsNotifier,jdbcType=VARCHAR},
      </if>
      <if test="announcementsContent != null" >
        announcements_content = #{announcementsContent,jdbcType=VARCHAR},
      </if>
      <if test="announcementsNotifierid != null" >
        announcements_notifierId = #{announcementsNotifierid,jdbcType=INTEGER},
      </if>
      <if test="announcementsTopic != null" >
        announcements_topic = #{announcementsTopic,jdbcType=VARCHAR},
      </if>
      <if test="announcementsState != null" >
        announcements_state = #{announcementsState,jdbcType=INTEGER},
      </if>
    </set>
    where announcements_id = #{announcementsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Announcements" >
    update oas_announcements
    set announcements_date = #{announcementsDate,jdbcType=TIMESTAMP},
      announcements_notifier = #{announcementsNotifier,jdbcType=VARCHAR},
      announcements_content = #{announcementsContent,jdbcType=VARCHAR},
      announcements_notifierId = #{announcementsNotifierid,jdbcType=INTEGER},
      announcements_topic = #{announcementsTopic,jdbcType=VARCHAR},
      announcements_state = #{announcementsState,jdbcType=INTEGER}
    where announcements_id = #{announcementsId,jdbcType=INTEGER}
  </update>
</mapper>