<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.oas.mapper.CheckingInMapper">
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.CheckingIn">
    <id column="checkingin_id" jdbcType="VARCHAR" property="checkinginId" />
    <result column="check_stff_id" jdbcType="INTEGER" property="checkStffId" />
    <result column="checkingin_startTime" jdbcType="TIMESTAMP" property="checkinginStarttime" />
    <result column="checkingin_sendTime" jdbcType="TIMESTAMP" property="checkinginSendtime" />
    <result column="checkingin_state" jdbcType="CHAR" property="checkinginState" />
  </resultMap>
  <sql id="Base_Column_List">
    checkingin_id, check_stff_id, checkingin_startTime, checkingin_sendTime, checkingin_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oas_checkingin
    where checkingin_id = #{checkinginId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oas_checkingin
    where checkingin_id = #{checkinginId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.CheckingIn">
    insert into oas_checkingin (checkingin_id, check_stff_id, checkingin_startTime, 
      checkingin_sendTime, checkingin_state)
    values (#{checkinginId,jdbcType=VARCHAR}, #{checkStffId,jdbcType=INTEGER}, #{checkinginStarttime,jdbcType=TIMESTAMP}, 
      #{checkinginSendtime,jdbcType=TIMESTAMP}, #{checkinginState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.CheckingIn">
    insert into oas_checkingin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkinginId != null">
        checkingin_id,
      </if>
      <if test="checkStffId != null">
        check_stff_id,
      </if>
      <if test="checkinginStarttime != null">
        checkingin_startTime,
      </if>
      <if test="checkinginSendtime != null">
        checkingin_sendTime,
      </if>
      <if test="checkinginState != null">
        checkingin_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkinginId != null">
        #{checkinginId,jdbcType=VARCHAR},
      </if>
      <if test="checkStffId != null">
        #{checkStffId,jdbcType=INTEGER},
      </if>
      <if test="checkinginStarttime != null">
        #{checkinginStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginSendtime != null">
        #{checkinginSendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginState != null">
        #{checkinginState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.CheckingIn">
    update oas_checkingin
    <set>
      <if test="checkStffId != null">
        check_stff_id = #{checkStffId,jdbcType=INTEGER},
      </if>
      <if test="checkinginStarttime != null">
        checkingin_startTime = #{checkinginStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginSendtime != null">
        checkingin_sendTime = #{checkinginSendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginState != null">
        checkingin_state = #{checkinginState,jdbcType=CHAR},
      </if>
    </set>
    where checkingin_id = #{checkinginId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.CheckingIn">
    update oas_checkingin
    set check_stff_id = #{checkStffId,jdbcType=INTEGER},
      checkingin_startTime = #{checkinginStarttime,jdbcType=TIMESTAMP},
      checkingin_sendTime = #{checkinginSendtime,jdbcType=TIMESTAMP},
      checkingin_state = #{checkinginState,jdbcType=CHAR}
    where checkingin_id = #{checkinginId,jdbcType=VARCHAR}
  </update>
</mapper>