<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.CheckingInMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.CheckingIn" >
    <id column="checkingin_id" property="checkinginId" jdbcType="VARCHAR" />
    <result column="check_staff_id" property="checkStaffId" jdbcType="INTEGER" />
    <result column="checkingin_startTime" property="checkinginStarttime" jdbcType="TIMESTAMP" />
    <result column="checkingin_sendTime" property="checkinginSendtime" jdbcType="TIMESTAMP" />
    <result column="checkingin_state" property="checkinginState" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    checkingin_id, check_staff_id, checkingin_startTime, checkingin_sendTime, checkingin_state
  </sql>
  <select id="selectByRequirement" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from oas_checkingin
    <where>
      <if test="checkstaffId!=null">
        check_staff_id = #{checkstaffId}
      </if>
      <if test="startTime!='\'null\''">
        AND checkingin_startTime &gt;= ${startTime}
      </if>
      <if test="endTime!='\'null\''">
        AND checkingin_sendTime &lt;= ${endTime}
      </if>
    <if test="LimitParameter_1!=null">
      <if test="LimitParameter_2!=null">
        LIMIT #{LimitParameter_1},#{LimitParameter_2}
      </if>
    </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from oas_checkingin
    where checkingin_id = #{checkinginId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.CheckingIn" >
    insert into oas_checkingin (checkingin_id, check_staff_id, checkingin_startTime,
      checkingin_sendTime, checkingin_state)
    values (#{checkinginId,jdbcType=VARCHAR}, #{checkstaffId,jdbcType=INTEGER}, #{checkinginStarttime,jdbcType=TIMESTAMP}, 
      #{checkinginSendtime,jdbcType=TIMESTAMP}, #{checkinginState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.CheckingIn" >
    insert into oas_checkingin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkinginId != null" >
        checkingin_id,
      </if>
      <if test="checkStaffId != null" >
        check_staff_id,
      </if>
      <if test="checkinginStarttime != null" >
        checkingin_startTime,
      </if>
      <if test="checkinginSendtime != null" >
        checkingin_sendTime,
      </if>
      <if test="checkinginState != null" >
        checkingin_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkinginId != null" >
        #{checkinginId,jdbcType=VARCHAR},
      </if>
      <if test="checkstaffId != null" >
        #{checkstaffId,jdbcType=INTEGER},
      </if>
      <if test="checkinginStarttime != null" >
        #{checkinginStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginSendtime != null" >
        #{checkinginSendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginState != null" >
        #{checkinginState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.CheckingIn" >
    update oas_checkingin
    <set >
      <if test="checkinginStarttime != null" >
        checkingin_startTime = #{checkinginStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginSendtime != null" >
        checkingin_sendTime = #{checkinginSendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinginState != null" >
        checkingin_state = #{checkinginState,jdbcType=CHAR},
      </if>
    </set>
    where  check_staff_id = #{checkstaffId,jdbcType=INTEGER},
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.CheckingIn" >
    update oas_checkingin
    set check_staff_id = #{checkstaffId,jdbcType=INTEGER},
      checkingin_startTime = #{checkinginStarttime,jdbcType=TIMESTAMP},
      checkingin_sendTime = #{checkinginSendtime,jdbcType=TIMESTAMP},
      checkingin_state = #{checkinginState,jdbcType=CHAR}
    where checkingin_id = #{checkinginId,jdbcType=VARCHAR}
  </update>
</mapper>