<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.ContractMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Contract" >
    <id column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="contract_firstParty" property="contractFirstparty" jdbcType="VARCHAR" />
    <result column="contract_secondParty" property="contractSecondparty" jdbcType="VARCHAR" />
    <result column="contract_secondPartyId" property="contractSecondpartyid" jdbcType="INTEGER" />
    <result column="contract_entryDate" property="contractEntrydate" jdbcType="TIMESTAMP" />
    <result column="contract_signDate" property="contractSigndate" jdbcType="TIMESTAMP" />
    <result column="contract_salaryId" property="contractSalaryid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bj186.oas.pojo.Contract" extends="BaseResultMap" >
    <result column="contract_content" property="contractContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    contract_id, contract_firstParty, contract_secondParty, contract_secondPartyId, contract_entryDate, 
    contract_signDate, contract_salaryId
  </sql>
  <sql id="Blob_Column_List" >
    contract_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oas_contract
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from oas_contract
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Contract" >
    insert into oas_contract (contract_id, contract_firstParty, contract_secondParty, 
      contract_secondPartyId, contract_entryDate, 
      contract_signDate, contract_salaryId, contract_content
      )
    values (#{contractId,jdbcType=VARCHAR}, #{contractFirstparty,jdbcType=VARCHAR}, #{contractSecondparty,jdbcType=VARCHAR}, 
      #{contractSecondpartyid,jdbcType=INTEGER}, #{contractEntrydate,jdbcType=TIMESTAMP}, 
      #{contractSigndate,jdbcType=TIMESTAMP}, #{contractSalaryid,jdbcType=INTEGER}, #{contractContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Contract" >
    insert into oas_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="contractFirstparty != null" >
        contract_firstParty,
      </if>
      <if test="contractSecondparty != null" >
        contract_secondParty,
      </if>
      <if test="contractSecondpartyid != null" >
        contract_secondPartyId,
      </if>
      <if test="contractEntrydate != null" >
        contract_entryDate,
      </if>
      <if test="contractSigndate != null" >
        contract_signDate,
      </if>
      <if test="contractSalaryid != null" >
        contract_salaryId,
      </if>
      <if test="contractContent != null" >
        contract_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="contractFirstparty != null" >
        #{contractFirstparty,jdbcType=VARCHAR},
      </if>
      <if test="contractSecondparty != null" >
        #{contractSecondparty,jdbcType=VARCHAR},
      </if>
      <if test="contractSecondpartyid != null" >
        #{contractSecondpartyid,jdbcType=INTEGER},
      </if>
      <if test="contractEntrydate != null" >
        #{contractEntrydate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractSigndate != null" >
        #{contractSigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractSalaryid != null" >
        #{contractSalaryid,jdbcType=INTEGER},
      </if>
      <if test="contractContent != null" >
        #{contractContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Contract" >
    update oas_contract
    <set >
      <if test="contractFirstparty != null" >
        contract_firstParty = #{contractFirstparty,jdbcType=VARCHAR},
      </if>
      <if test="contractSecondparty != null" >
        contract_secondParty = #{contractSecondparty,jdbcType=VARCHAR},
      </if>
      <if test="contractSecondpartyid != null" >
        contract_secondPartyId = #{contractSecondpartyid,jdbcType=INTEGER},
      </if>
      <if test="contractEntrydate != null" >
        contract_entryDate = #{contractEntrydate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractSigndate != null" >
        contract_signDate = #{contractSigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractSalaryid != null" >
        contract_salaryId = #{contractSalaryid,jdbcType=INTEGER},
      </if>
      <if test="contractContent != null" >
        contract_content = #{contractContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bj186.oas.pojo.Contract" >
    update oas_contract
    set contract_firstParty = #{contractFirstparty,jdbcType=VARCHAR},
      contract_secondParty = #{contractSecondparty,jdbcType=VARCHAR},
      contract_secondPartyId = #{contractSecondpartyid,jdbcType=INTEGER},
      contract_entryDate = #{contractEntrydate,jdbcType=TIMESTAMP},
      contract_signDate = #{contractSigndate,jdbcType=TIMESTAMP},
      contract_salaryId = #{contractSalaryid,jdbcType=INTEGER},
      contract_content = #{contractContent,jdbcType=LONGVARCHAR}
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Contract" >
    update oas_contract
    set contract_firstParty = #{contractFirstparty,jdbcType=VARCHAR},
      contract_secondParty = #{contractSecondparty,jdbcType=VARCHAR},
      contract_secondPartyId = #{contractSecondpartyid,jdbcType=INTEGER},
      contract_entryDate = #{contractEntrydate,jdbcType=TIMESTAMP},
      contract_signDate = #{contractSigndate,jdbcType=TIMESTAMP},
      contract_salaryId = #{contractSalaryid,jdbcType=INTEGER}
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </update>
</mapper>