<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Department" >
    <id column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
    <result column="dep_managerid" property="depManagerid" jdbcType="INTEGER" />
    <result column="dep_number" property="depNumber" jdbcType="INTEGER" />
    <result column="dep_describe" property="depDescribe" jdbcType="VARCHAR" />
    <collection property="announcements" resultMap="com.bj186.oas.mapper.AnnouncementsMapper.BaseResultMap"></collection>
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.bj186.oas.pojo.Department" extends="BaseResultMap">
    <collection property="staffList" resultMap="com.bj186.oas.mapper.StaffMapper.BaseResultMap"></collection>
  </resultMap>
  <sql id="Base_Column_List" >

    dep_id, dep_name, dep_managerid, dep_number, dep_describe
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT * FROM (SELECT * FROM (SELECT * FROM
  oas_announcementsextent a left join oas_announcements b
  on a.announcementsExtent_announcementsId = b.announcements_id) a left join oas_department b
  on a.announcementsExtent_departmentId = b.dep_id) a left join oas_staff b
   on a.announcements_notifierId = b.staff_id where a.dep_id = #{depId,jdbcType=INTEGER} and announcements_state = 0
  </select>

  <select id="selectDep" resultMap="BaseResultMap">
      SELECT * FROM oas_department
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT * FROM oas_department a WHERE a.dep_name = #{depName}
  </select>

  <select id="selectDepStaff" resultMap="BaseResultMap" parameterType="java.lang.String" >
 SELECT * FROM oas_staff a LEFT JOIN oas_department b on a.staff_depID = b.dep_id where dep_name=#{depName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_department
    where dep_id = #{depId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Department" >
    insert into oas_department (dep_id, dep_name, dep_managerid, 
      dep_number, dep_describe)
    values (#{depId,jdbcType=INTEGER}, #{depName,jdbcType=VARCHAR}, #{depManagerid,jdbcType=INTEGER}, 
      #{depNumber,jdbcType=INTEGER}, #{depDescribe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Department" >
    insert into oas_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        dep_id,
      </if>
      <if test="depName != null" >
        dep_name,
      </if>
      <if test="depManagerid != null" >
        dep_managerid,
      </if>
      <if test="depNumber != null" >
        dep_number,
      </if>
      <if test="depDescribe != null" >
        dep_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null" >
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depManagerid != null" >
        #{depManagerid,jdbcType=INTEGER},
      </if>
      <if test="depNumber != null" >
        #{depNumber,jdbcType=INTEGER},
      </if>
      <if test="depDescribe != null" >
        #{depDescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Department" >
    update oas_department
    <set >
      <if test="depName != null" >
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depManagerid != null" >
        dep_managerid = #{depManagerid,jdbcType=INTEGER},
      </if>
      <if test="depNumber != null" >
        dep_number = #{depNumber,jdbcType=INTEGER},
      </if>
      <if test="depDescribe != null" >
        dep_describe = #{depDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Department" >
    update oas_department
    set dep_name = #{depName,jdbcType=VARCHAR},
      dep_managerid = #{depManagerid,jdbcType=INTEGER},
      dep_number = #{depNumber,jdbcType=INTEGER},
      dep_describe = #{depDescribe,jdbcType=VARCHAR}
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>
</mapper>