<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.oas.mapper.FixedMapper">
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Fixed">
    <id column="fix_id" jdbcType="INTEGER" property="fixId" />
    <result column="fixe_name" jdbcType="VARCHAR" property="fixeName" />
    <result column="fix_unit" jdbcType="INTEGER" property="fixUnit" />
    <result column="fix_number" jdbcType="INTEGER" property="fixNumber" />
    <result column="fix_ amount" jdbcType="DECIMAL" property="fixAmount" />
    <result column="fix_remarks" jdbcType="VARCHAR" property="fixRemarks" />
  </resultMap>
  <sql id="Base_Column_List">
    fix_id, fixe_name, fix_unit, fix_number, "fix_ amount", fix_remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oas_fixed
    where fix_id = #{fixId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oas_fixed
    where fix_id = #{fixId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Fixed">
    insert into oas_fixed (fix_id, fixe_name, fix_unit, 
      fix_number, "fix_ amount", fix_remarks
      )
    values (#{fixId,jdbcType=INTEGER}, #{fixeName,jdbcType=VARCHAR}, #{fixUnit,jdbcType=INTEGER}, 
      #{fixNumber,jdbcType=INTEGER}, #{fixAmount,jdbcType=DECIMAL}, #{fixRemarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Fixed">
    insert into oas_fixed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fixId != null">
        fix_id,
      </if>
      <if test="fixeName != null">
        fixe_name,
      </if>
      <if test="fixUnit != null">
        fix_unit,
      </if>
      <if test="fixNumber != null">
        fix_number,
      </if>
      <if test="fixAmount != null">
        "fix_ amount",
      </if>
      <if test="fixRemarks != null">
        fix_remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fixId != null">
        #{fixId,jdbcType=INTEGER},
      </if>
      <if test="fixeName != null">
        #{fixeName,jdbcType=VARCHAR},
      </if>
      <if test="fixUnit != null">
        #{fixUnit,jdbcType=INTEGER},
      </if>
      <if test="fixNumber != null">
        #{fixNumber,jdbcType=INTEGER},
      </if>
      <if test="fixAmount != null">
        #{fixAmount,jdbcType=DECIMAL},
      </if>
      <if test="fixRemarks != null">
        #{fixRemarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Fixed">
    update oas_fixed
    <set>
      <if test="fixeName != null">
        fixe_name = #{fixeName,jdbcType=VARCHAR},
      </if>
      <if test="fixUnit != null">
        fix_unit = #{fixUnit,jdbcType=INTEGER},
      </if>
      <if test="fixNumber != null">
        fix_number = #{fixNumber,jdbcType=INTEGER},
      </if>
      <if test="fixAmount != null">
        "fix_ amount" = #{fixAmount,jdbcType=DECIMAL},
      </if>
      <if test="fixRemarks != null">
        fix_remarks = #{fixRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    where fix_id = #{fixId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Fixed">
    update oas_fixed
    set fixe_name = #{fixeName,jdbcType=VARCHAR},
      fix_unit = #{fixUnit,jdbcType=INTEGER},
      fix_number = #{fixNumber,jdbcType=INTEGER},
      "fix_ amount" = #{fixAmount,jdbcType=DECIMAL},
      fix_remarks = #{fixRemarks,jdbcType=VARCHAR}
    where fix_id = #{fixId,jdbcType=INTEGER}
  </update>
</mapper>