<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.FixedMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Fixed" >
    <id column="fix_id" property="fixId" jdbcType="INTEGER" />
    <result column="fixe_name" property="fixeName" jdbcType="VARCHAR" />
    <result column="fix_unit" property="fixUnit" jdbcType="VARCHAR" />
    <result column="fix_number" property="fixNumber" jdbcType="INTEGER" />
    <result column="fix_rentnumber" property="fixRentNumber" jdbcType="INTEGER" />
    <result column="fix_surpnumber" property="fixSurpNumber" jdbcType="INTEGER" />
    <result column="fix_amount" property="fixAmount" jdbcType="DECIMAL" />
    <result column="fix_remarks" property="fixRemarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fix_id, fixe_name, fix_unit, fix_number,fix_rentnumber,fix_surpnumber,fix_amount, fix_remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from oas_fixed
    where fix_id = #{fixId,jdbcType=INTEGER}
  </select>
  <select id="selectAllFixed" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from oas_fixed limit #{pageNum},#{pageSize}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_fixed
    where fix_id = #{fixId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Fixed" >
    insert into oas_fixed (fix_id,fixe_name,fix_unit,
      fix_number,fix_rentnumber,fix_surpnumber,fix_amount,fix_remarks
      )
    values (#{fixId,jdbcType=INTEGER}, #{fixeName,jdbcType=VARCHAR}, #{fixUnit,jdbcType=VARCHAR},
      #{fixNumber,jdbcType=INTEGER},#{fixRentNumber,jdbcType=INTEGER},#{fixSurpNumber,jdbcType=INTEGER}, #{fixAmount,jdbcType=DECIMAL}, #{fixRemarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Fixed" >
    insert into oas_fixed
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fixId != null" >
        fix_id,
      </if>
      <if test="fixeName != null" >
        fixe_name,
      </if>
      <if test="fixUnit != null" >
        fix_unit,
      </if>
      <if test="fixNumber != null" >
        fix_number,
      </if>
      <if test="fixRentNumber != null" >
        fix_rentnumber,
      </if>
      <if test="fixSurpNumber != null" >
        fix_surpnumber,
      </if>
      <if test="fixAmount != null" >
        fix_ amount,
      </if>
      <if test="fixRemarks != null" >
        fix_remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fixId != null" >
        #{fixId,jdbcType=INTEGER},
      </if>
      <if test="fixeName != null" >
        #{fixeName,jdbcType=VARCHAR},
      </if>
      <if test="fixUnit != null" >
        #{fixUnit,jdbcType=VARCHAR},
      </if>
      <if test="fixNumber != null" >
        #{fixNumber,jdbcType=INTEGER},
      </if>
      <if test="fixRentNumber != null" >
        #{fixRentNumber,jdbcType=INTEGER},
      </if>
      <if test="fixSurpNumber != null" >
        #{fixSurpNumber,jdbcType=INTEGER},
      </if>
      <if test="fixAmount != null" >
        #{fixAmount,jdbcType=DECIMAL},
      </if>
      <if test="fixRemarks != null" >
        #{fixRemarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Fixed" >
    update oas_fixed
    <set >
      <if test="fixeName != null" >
        fixe_name = #{fixeName,jdbcType=VARCHAR},
      </if>
      <if test="fixUnit != null" >
        fix_unit = #{fixUnit,jdbcType=VARCHAR},
      </if>
      <if test="fixNumber != null" >
        fix_number = #{fixNumber,jdbcType=INTEGER},
      </if>
      <if test="fixRentNumber != null" >
        fix_rentnumber = #{fixRentNumber,jdbcType=INTEGER},
      </if>
      <if test="fixSurpNumber != null" >
        fix_surpnumber = #{fixSurpNumber,jdbcType=INTEGER},
      </if>
      <if test="fixAmount != null" >
        fix_ amount = #{fixAmount,jdbcType=DECIMAL},
      </if>
      <if test="fixRemarks != null" >
        fix_remarks = #{fixRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    where fix_id = #{fixId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Fixed" >
    update oas_fixed
    set fixe_name=#{fixeName,jdbcType=VARCHAR},
      fix_unit=#{fixUnit,jdbcType=VARCHAR},
      fix_number=#{fixNumber,jdbcType=INTEGER},
      fix_rentnumber=#{fixRentNumber,jdbcType=INTEGER},
      fix_surpnumber=#{fixSurpNumber,jdbcType=INTEGER},
      fix_amount=#{fixAmount,jdbcType=DECIMAL},
      fix_remarks=#{fixRemarks,jdbcType=VARCHAR}
    where fix_id=#{fixId,jdbcType=INTEGER}
  </update>
</mapper>