<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.LeaveMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Leave" >
    <id column="leave_Id" property="leaveId" jdbcType="VARCHAR" />
    <result column="leave_staff_id" property="leaveStaffId" jdbcType="INTEGER" />
    <result column="leave_processing" property="leaveProcessing" jdbcType="CHAR" />
    <result column="leave_title" property="leaveTitle" jdbcType="VARCHAR" />
    <result column="leave_type" property="leaveType" jdbcType="CHAR" />
    <result column="leave_time" property="leaveTime" jdbcType="INTEGER" />
    <result column="leave_startTime" property="leaveStarttime" jdbcType="TIMESTAMP" />
    <result column="leave_sendTime" property="leaveSendtime" jdbcType="TIMESTAMP" />
    <result column="leave_state" property="leaveState" jdbcType="CHAR" />
    <result column="leave_ceateTime" property="leaveCeatetime" jdbcType="BIGINT" />
    <result column="leave_reason" property="leaveReason" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bj186.oas.pojo.Leave" extends="BaseResultMap" >
    <result column="leave_reason" property="leaveReason" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    leave_Id, leave_staff_id, leave_processing, leave_title, leave_type, leave_time, 
    leave_startTime, leave_sendTime, leave_state, leave_ceateTime
  </sql>
  <sql id="Blob_Column_List" >
    leave_reason
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oas_leave
    <where>
        leave_Id = #{lId,jdbcType=VARCHAR}
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from oas_leave
    where leave_Id = #{leaveId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Leave" >
    insert into oas_leave (leave_Id, leave_staff_id, leave_processing, 
      leave_title, leave_type, leave_time, 
      leave_startTime, leave_sendTime, leave_state, 
      leave_ceateTime, leave_reason)
    values (#{leaveId,jdbcType=VARCHAR}, #{leaveStaffId,jdbcType=INTEGER}, #{leaveProcessing,jdbcType=CHAR}, 
      #{leaveTitle,jdbcType=VARCHAR}, #{leaveType,jdbcType=CHAR}, #{leaveTime,jdbcType=INTEGER}, 
      #{leaveStarttime,jdbcType=TIMESTAMP}, #{leaveSendtime,jdbcType=TIMESTAMP}, #{leaveState,jdbcType=CHAR}, 
      #{leaveCeatetime,jdbcType=BIGINT}, #{leaveReason,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Leave" >
    insert into oas_leave
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leaveId != null" >
        leave_Id,
      </if>
      <if test="leaveStaffId != null" >
        leave_staff_id,
      </if>
      <if test="leaveProcessing != null" >
        leave_processing,
      </if>
      <if test="leaveTitle != null" >
        leave_title,
      </if>
      <if test="leaveType != null" >
        leave_type,
      </if>
      <if test="leaveTime != null" >
        leave_time,
      </if>
      <if test="leaveStarttime != null" >
        leave_startTime,
      </if>
      <if test="leaveSendtime != null" >
        leave_sendTime,
      </if>
      <if test="leaveState != null" >
        leave_state,
      </if>
      <if test="leaveCeatetime != null" >
        leave_ceateTime,
      </if>
      <if test="leaveReason != null" >
        leave_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leaveId != null" >
        #{leaveId,jdbcType=VARCHAR},
      </if>
      <if test="leaveStaffId != null" >
        #{leaveStaffId,jdbcType=INTEGER},
      </if>
      <if test="leaveProcessing != null" >
        #{leaveProcessing,jdbcType=CHAR},
      </if>
      <if test="leaveTitle != null" >
        #{leaveTitle,jdbcType=VARCHAR},
      </if>
      <if test="leaveType != null" >
        #{leaveType,jdbcType=CHAR},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=INTEGER},
      </if>
      <if test="leaveStarttime != null" >
        #{leaveStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveSendtime != null" >
        #{leaveSendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveState != null" >
        #{leaveState,jdbcType=CHAR},
      </if>
      <if test="leaveCeatetime != null" >
        #{leaveCeatetime,jdbcType=BIGINT},
      </if>
      <if test="leaveReason != null" >
        #{leaveReason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Leave" >
    update oas_leave
    <set >
      <if test="leaveStaffId != null" >
        leave_staff_id = #{leaveStaffId,jdbcType=INTEGER},
      </if>
      <if test="leaveProcessing != null" >
        leave_processing = #{leaveProcessing,jdbcType=CHAR},
      </if>
      <if test="leaveTitle != null" >
        leave_title = #{leaveTitle,jdbcType=VARCHAR},
      </if>
      <if test="leaveType != null" >
        leave_type = #{leaveType,jdbcType=CHAR},
      </if>
      <if test="leaveTime != null" >
        leave_time = #{leaveTime,jdbcType=INTEGER},
      </if>
      <if test="leaveStarttime != null" >
        leave_startTime = #{leaveStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveSendtime != null" >
        leave_sendTime = #{leaveSendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveState != null" >
        leave_state = #{leaveState,jdbcType=CHAR},
      </if>
      <if test="leaveCeatetime != null" >
        leave_ceateTime = #{leaveCeatetime,jdbcType=BIGINT},
      </if>
      <if test="leaveReason != null" >
        leave_reason = #{leaveReason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where leave_Id = #{leaveId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bj186.oas.pojo.Leave" >
    update oas_leave
    set leave_staff_id = #{leaveStaffId,jdbcType=INTEGER},
      leave_processing = #{leaveProcessing,jdbcType=CHAR},
      leave_title = #{leaveTitle,jdbcType=VARCHAR},
      leave_type = #{leaveType,jdbcType=CHAR},
      leave_time = #{leaveTime,jdbcType=INTEGER},
      leave_startTime = #{leaveStarttime,jdbcType=TIMESTAMP},
      leave_sendTime = #{leaveSendtime,jdbcType=TIMESTAMP},
      leave_state = #{leaveState,jdbcType=CHAR},
      leave_ceateTime = #{leaveCeatetime,jdbcType=BIGINT},
      leave_reason = #{leaveReason,jdbcType=LONGVARCHAR}
    where leave_Id = #{leaveId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Leave" >
    update oas_leave
    set leave_staff_id = #{leaveStaffId,jdbcType=INTEGER},
      leave_processing = #{leaveProcessing,jdbcType=CHAR},
      leave_title = #{leaveTitle,jdbcType=VARCHAR},
      leave_type = #{leaveType,jdbcType=CHAR},
      leave_time = #{leaveTime,jdbcType=INTEGER},
      leave_startTime = #{leaveStarttime,jdbcType=TIMESTAMP},
      leave_sendTime = #{leaveSendtime,jdbcType=TIMESTAMP},
      leave_state = #{leaveState,jdbcType=CHAR},
      leave_ceateTime = #{leaveCeatetime,jdbcType=BIGINT}
    where leave_Id = #{leaveId,jdbcType=VARCHAR}
  </update>
  <select id="selLeaveLeftAdvice" resultMap="LeftAdviceMap" parameterType="com.bj186.oas.pojo.personalpojo.GetLeaveUtil">
    SELECT * FROM oas_leave LEFT JOIN oas_leaveadvice
    ON leave_Id=advicelid
    <where>
      <if test="sid!=null">
       and leave_staff_id=#{sid}
      </if>
      <!--请假结天数范围查询-->
      <if test="leaveTime!=null">
        and leave_time &gt;=#{leaveTime}
      </if>
      <if test="sendTime!=null">
        and leave_time &lt;=#{sendTime}
      </if>
      <!--请假起始时间范围查询-->
      <if test="createDate!=null">
        and leave_startTime &lt;=#{createDate}
      </if>
      <if test="sendDate!=null">
        and leave_startTime &gt;=#{sendDate}
      </if>
      <!--通过请假详情id查询请假条-->
      <if test="livd!=null">
        leaveAdvice_id=#{livd}
      </if>
      <if test="lid!=null">
        leave_Id=#{lid}
      </if>
    </where>
    order by leave_ceateTime DESC
  </select>
  <resultMap id="LeftAdviceMap" type="com.bj186.oas.pojo.Leave" extends="com.bj186.oas.mapper.LeaveMapper.BaseResultMap">
    <collection property="leaveAdvices" resultMap="com.bj186.oas.mapper.LeaveAdviceMapper.BaseResultMap"></collection>
  </resultMap>

  <!--将请假信息展示给用户去看!不分页的情况下-->
  <select id="showLeaves" resultMap="sohowLeaveMap" parameterType="int">
    select
    (<include refid="limit"/>) as cunt
    ,
    <include refid="com.bj186.oas.mapper.CalendarMapper.showStaffInfo"/>
    ,leave_time,leave_state,leave_ceateTime
    from oas_leave LEFT JOIN oas_staff ON leave_staff_id=staff_id
    <include refid="com.bj186.oas.mapper.CalendarMapper.leftJoinStaffDepPos"/>
    <where>
      <include refid="selJuit"></include>
    </where>
  </select>
  <!--分页的情况下!-->
  <select id="showLeaveLimit" resultMap="showLeaveLimitMap" parameterType="com.bj186.oas.pojo.personalpojo.Page">
    select
    (<include refid="limit"/>) as cunt
    ,
    <include refid="com.bj186.oas.mapper.CalendarMapper.showStaffInfo"/>
    ,leave_time,leave_state,leave_ceateTime,leave_Id
    from oas_leave LEFT JOIN oas_staff ON leave_staff_id=staff_id
    <include refid="com.bj186.oas.mapper.CalendarMapper.leftJoinStaffDepPos"/>
    <where>
      <include refid="selJuit"></include>
      <if test="pageSize!=null and pageThis!=null">
        limit #{pageThis},#{pageSize}
      </if>
    </where>
  </select>
  <!--不分页返回数据-->
  <resultMap id="sohowLeaveMap" type="com.bj186.oas.pojo.personalpojo.ShowLeave">
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="leave_state" property="leaveState" jdbcType="CHAR" />
    <result column="leave_ceateTime" property="leaveCeatetime" jdbcType="BIGINT" />
    <result column="leave_time" property="leaveTime" jdbcType="INTEGER" />
    <result column="leave_Id" property="leaveId" jdbcType="VARCHAR" />
  </resultMap>
  <!--分页返回数据-->
  <resultMap id="showLeaveLimitMap" type="com.bj186.oas.pojo.personalpojo.Paging">
    <result column="cunt" property="cot"/>
    <collection property="data" resultMap="sohowLeaveMap"/>
  </resultMap>

  <sql id="selJuit">
    <if test="sid!=null">
      and leave_staff_id=#{sid}
    </if>
    <if test="entity!=null">
      <if test="entity.createDate!=null">
       and leave_startTime &gt;=#{entity.createDate}
      </if>
      <if test="entity.sendDate!=null">
       and leave_startTime&lt;=#{entity.sendDate}
      </if>
      <if test="entity.leaveTime!=null">
        and leave_time &gt;=#{entity.leaveTime}
      </if>
      <if test="entity.sendTime!=null">
        and leave_time &lt;=#{entity.sendTime}
      </if>
    </if>
  </sql>
  <sql id="limit">
    select count(*) from  oas_leave
    <where>
      <include refid="selJuit"/>
    </where>
  </sql>

  <!--审核请假信息-->
  <select id="getLeaveAdive" resultMap="getLeaveAdiveMap" parameterType="string">
   <include refid="getLeaveSql"/>
    <where>
      leave_Id=#{lid}
    </where>
  </select>

  <!--通过详情id查询审核查询请假信息!-->
  <select id="getLeaveAdiveId" resultMap="getLeaveAdiveMap" parameterType="string">
    <include refid="getLeaveSql"/>
    LEFT JOIN oas_leaveadvice
    ON advicelid=oas_leave.leave_Id
    <where>
      leaveAdvice_id=#{advieId}
      <!--去除重复-->
      group by leave_Id
    </where>
  </select>
  <resultMap id="getLeaveAdiveMap" type="com.bj186.oas.pojo.personalpojo.StaffInfo">
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <collection property="dataInfo" resultMap="BaseResultMap"/>
  </resultMap>

  <!--通过id查询sql片段-->
  <sql id="getLeaveSql">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    ,
    <include refid="com.bj186.oas.mapper.CalendarMapper.showStaffInfo"/>
    from oas_leave
    LEFT JOIN oas_staff
    on leave_staff_id=staff_id
    <include refid="com.bj186.oas.mapper.CalendarMapper.leftJoinStaffDepPos"/>
  </sql>
</mapper>