<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.LeaveAdviceMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.LeaveAdvice" >
    <id column="leaveAdvice_id" property="leaveadviceId" jdbcType="VARCHAR" />
    <result column="advicelid" property="advicelid" jdbcType="VARCHAR" />
    <result column="advicePart" property="advicepart" jdbcType="VARCHAR" />
    <result column="adviceSum" property="advicesum" jdbcType="VARCHAR" />
    <result column="adviceGroup" property="advicegroup" jdbcType="VARCHAR" />
    <result column="adviceGroupState" property="advicegroupstate" jdbcType="CHAR" />
    <result column="advicePartState" property="advicepartstate" jdbcType="CHAR" />
    <result column="adviceSumState" property="advicesumstate" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    leaveAdvice_id, advicelid, advicePart, adviceSum, adviceGroup, adviceGroupState, 
    advicePartState, adviceSumState
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from oas_leaveadvice
    where leaveAdvice_id = #{leaveadviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from oas_leaveadvice
    where leaveAdvice_id = #{leaveadviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.LeaveAdvice" >
    insert into oas_leaveadvice (leaveAdvice_id, advicelid, advicePart, 
      adviceSum, adviceGroup, adviceGroupState, 
      advicePartState, adviceSumState)
    values (#{leaveadviceId,jdbcType=VARCHAR}, #{advicelid,jdbcType=VARCHAR}, #{advicepart,jdbcType=VARCHAR}, 
      #{advicesum,jdbcType=VARCHAR}, #{advicegroup,jdbcType=VARCHAR}, #{advicegroupstate,jdbcType=CHAR}, 
      #{advicepartstate,jdbcType=CHAR}, #{advicesumstate,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.LeaveAdvice" >
    insert into oas_leaveadvice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leaveadviceId != null" >
        leaveAdvice_id,
      </if>
      <if test="advicelid != null" >
        advicelid,
      </if>
      <if test="advicepart != null" >
        advicePart,
      </if>
      <if test="advicesum != null" >
        adviceSum,
      </if>
      <if test="advicegroup != null" >
        adviceGroup,
      </if>
      <if test="advicegroupstate != null" >
        adviceGroupState,
      </if>
      <if test="advicepartstate != null" >
        advicePartState,
      </if>
      <if test="advicesumstate != null" >
        adviceSumState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leaveadviceId != null" >
        #{leaveadviceId,jdbcType=VARCHAR},
      </if>
      <if test="advicelid != null" >
        #{advicelid,jdbcType=VARCHAR},
      </if>
      <if test="advicepart != null" >
        #{advicepart,jdbcType=VARCHAR},
      </if>
      <if test="advicesum != null" >
        #{advicesum,jdbcType=VARCHAR},
      </if>
      <if test="advicegroup != null" >
        #{advicegroup,jdbcType=VARCHAR},
      </if>
      <if test="advicegroupstate != null" >
        #{advicegroupstate,jdbcType=CHAR},
      </if>
      <if test="advicepartstate != null" >
        #{advicepartstate,jdbcType=CHAR},
      </if>
      <if test="advicesumstate != null" >
        #{advicesumstate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.LeaveAdvice" >
    update oas_leaveadvice
    <set >
      <if test="advicelid != null" >
        advicelid = #{advicelid,jdbcType=VARCHAR},
      </if>
      <if test="advicepart != null" >
        advicePart = #{advicepart,jdbcType=VARCHAR},
      </if>
      <if test="advicesum != null" >
        adviceSum = #{advicesum,jdbcType=VARCHAR},
      </if>
      <if test="advicegroup != null" >
        adviceGroup = #{advicegroup,jdbcType=VARCHAR},
      </if>
      <if test="advicegroupstate != null" >
        adviceGroupState = #{advicegroupstate,jdbcType=CHAR},
      </if>
      <if test="advicepartstate != null" >
        advicePartState = #{advicepartstate,jdbcType=CHAR},
      </if>
      <if test="advicesumstate != null" >
        adviceSumState = #{advicesumstate,jdbcType=CHAR},
      </if>
    </set>
    where leaveAdvice_id = #{leaveadviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.LeaveAdvice" >
    update oas_leaveadvice
    set advicelid = #{advicelid,jdbcType=VARCHAR},
      advicePart = #{advicepart,jdbcType=VARCHAR},
      adviceSum = #{advicesum,jdbcType=VARCHAR},
      adviceGroup = #{advicegroup,jdbcType=VARCHAR},
      adviceGroupState = #{advicegroupstate,jdbcType=CHAR},
      advicePartState = #{advicepartstate,jdbcType=CHAR},
      adviceSumState = #{advicesumstate,jdbcType=CHAR}
    where leaveAdvice_id = #{leaveadviceId,jdbcType=VARCHAR}
  </update>
  <select id="selByadvicelid" parameterType="string" resultMap="OpinionMap">
    SELECT leaveAdvice_id,le.leave_state,leave_time,leave_staff_id FROM oas_leaveadvice as advice
    LEFT JOIN oas_leave AS le on advice.advicelid=le.leave_Id  WHERE advicelid=#{lid}
    order by le.leave_ceateTime DESC
  </select>

  <resultMap id="OpinionMap" type="com.bj186.oas.pojo.personalpojo.LeaveOpinionUtil">
    <id column="leaveAdvice_id" property="leaveadviceId" jdbcType="VARCHAR" />
    <result column="leave_state" property="leaveState" jdbcType="CHAR" />
    <result column="leave_time" property="leaveTime" jdbcType="INTEGER" />
    <result column="leave_staff_id" property="sid" jdbcType="INTEGER" />
  </resultMap>
</mapper>