<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.PayMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Pay" >
    <id column="pay_id" property="payId" jdbcType="INTEGER" />
    <result column="pay_staffid" property="payStaffid" jdbcType="INTEGER" />
    <result column="pay_depid" property="payDepid" jdbcType="INTEGER" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="pay_accum" property="payAccum" jdbcType="DECIMAL" />
    <result column="pay_wage" property="payWage" jdbcType="DECIMAL" />
    <result column="pay_medical" property="payMedical" jdbcType="DECIMAL" />
    <result column="pay_award" property="payAward" jdbcType="DECIMAL" />
    <result column="pay_salary" property="paySalary" jdbcType="DECIMAL" />
    <association property="staff" resultMap="com.bj186.oas.mapper.StaffMapper.BaseResultMap"></association>
    <association property="department" resultMap="com.bj186.oas.mapper.DepartmentMapper.BaseResultMap"></association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    pay_id, pay_staffid, pay_depid, pay_date, pay_accum, pay_wage, pay_medical, pay_award, 
    pay_salary
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oas_pay
    where pay_id = #{payId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_pay
    where pay_id = #{payId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Pay" >
    insert into oas_pay (pay_id, pay_staffid, pay_depid, 
      pay_date, pay_accum, pay_wage, 
      pay_medical, pay_award, pay_salary
      )
    values (#{payId,jdbcType=INTEGER}, #{payStaffid,jdbcType=INTEGER}, #{payDepid,jdbcType=INTEGER}, 
      #{payDate,jdbcType=TIMESTAMP}, #{payAccum,jdbcType=DECIMAL}, #{payWage,jdbcType=DECIMAL}, 
      #{payMedical,jdbcType=DECIMAL}, #{payAward,jdbcType=DECIMAL}, #{paySalary,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Pay" >
    insert into oas_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        pay_id,
      </if>
      <if test="payStaffid != null" >
        pay_staffid,
      </if>
      <if test="payDepid != null" >
        pay_depid,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
      <if test="payAccum != null" >
        pay_accum,
      </if>
      <if test="payWage != null" >
        pay_wage,
      </if>
      <if test="payMedical != null" >
        pay_medical,
      </if>
      <if test="payAward != null" >
        pay_award,
      </if>
      <if test="paySalary != null" >
        pay_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        #{payId,jdbcType=INTEGER},
      </if>
      <if test="payStaffid != null" >
        #{payStaffid,jdbcType=INTEGER},
      </if>
      <if test="payDepid != null" >
        #{payDepid,jdbcType=INTEGER},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payAccum != null" >
        #{payAccum,jdbcType=DECIMAL},
      </if>
      <if test="payWage != null" >
        #{payWage,jdbcType=DECIMAL},
      </if>
      <if test="payMedical != null" >
        #{payMedical,jdbcType=DECIMAL},
      </if>
      <if test="payAward != null" >
        #{payAward,jdbcType=DECIMAL},
      </if>
      <if test="paySalary != null" >
        #{paySalary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Pay" >
    update oas_pay
    <set >
      <if test="payStaffid != null" >
        pay_staffid = #{payStaffid,jdbcType=INTEGER},
      </if>
      <if test="payDepid != null" >
        pay_depid = #{payDepid,jdbcType=INTEGER},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payAccum != null" >
        pay_accum = #{payAccum,jdbcType=DECIMAL},
      </if>
      <if test="payWage != null" >
        pay_wage = #{payWage,jdbcType=DECIMAL},
      </if>
      <if test="payMedical != null" >
        pay_medical = #{payMedical,jdbcType=DECIMAL},
      </if>
      <if test="payAward != null" >
        pay_award = #{payAward,jdbcType=DECIMAL},
      </if>
      <if test="paySalary != null" >
        pay_salary = #{paySalary,jdbcType=DECIMAL},
      </if>
    </set>
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Pay" >
    update oas_pay
    set pay_staffid = #{payStaffid,jdbcType=INTEGER},
      pay_depid = #{payDepid,jdbcType=INTEGER},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      pay_accum = #{payAccum,jdbcType=DECIMAL},
      pay_wage = #{payWage,jdbcType=DECIMAL},
      pay_medical = #{payMedical,jdbcType=DECIMAL},
      pay_award = #{payAward,jdbcType=DECIMAL},
      pay_salary = #{paySalary,jdbcType=DECIMAL}
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>

</mapper>