<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.ProofMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Proof" >
    <id column="proof_id" property="proofId" jdbcType="INTEGER" />
    <result column="proof_staffid" property="proofStaffid" jdbcType="INTEGER" />
    <result column="proof_depid" property="proofDepid" jdbcType="INTEGER" />
    <result column="proof_document" property="proofDocument" jdbcType="VARCHAR" />
    <result column="proof_condition" property="proofCondition" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    proof_id, proof_staffid, proof_depid, proof_document, proof_condition
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oas_proof
    where proof_id = #{proofId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_proof
    where proof_id = #{proofId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Proof" >
    insert into oas_proof (proof_id, proof_staffid, proof_depid, 
      proof_document, proof_condition)
    values (#{proofId,jdbcType=INTEGER}, #{proofStaffid,jdbcType=INTEGER}, #{proofDepid,jdbcType=INTEGER}, 
      #{proofDocument,jdbcType=VARCHAR}, #{proofCondition,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Proof" >
    insert into oas_proof
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proofId != null" >
        proof_id,
      </if>
      <if test="proofStaffid != null" >
        proof_staffid,
      </if>
      <if test="proofDepid != null" >
        proof_depid,
      </if>
      <if test="proofDocument != null" >
        proof_document,
      </if>
      <if test="proofCondition != null" >
        proof_condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proofId != null" >
        #{proofId,jdbcType=INTEGER},
      </if>
      <if test="proofStaffid != null" >
        #{proofStaffid,jdbcType=INTEGER},
      </if>
      <if test="proofDepid != null" >
        #{proofDepid,jdbcType=INTEGER},
      </if>
      <if test="proofDocument != null" >
        #{proofDocument,jdbcType=VARCHAR},
      </if>
      <if test="proofCondition != null" >
        #{proofCondition,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Proof" >
    update oas_proof
    <set >
      <if test="proofStaffid != null" >
        proof_staffid = #{proofStaffid,jdbcType=INTEGER},
      </if>
      <if test="proofDepid != null" >
        proof_depid = #{proofDepid,jdbcType=INTEGER},
      </if>
      <if test="proofDocument != null" >
        proof_document = #{proofDocument,jdbcType=VARCHAR},
      </if>
      <if test="proofCondition != null" >
        proof_condition = #{proofCondition,jdbcType=INTEGER},
      </if>
    </set>
    where proof_id = #{proofId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Proof" >
    update oas_proof
    set proof_staffid = #{proofStaffid,jdbcType=INTEGER},
      proof_depid = #{proofDepid,jdbcType=INTEGER},
      proof_document = #{proofDocument,jdbcType=VARCHAR},
      proof_condition = #{proofCondition,jdbcType=INTEGER}
    where proof_id = #{proofId,jdbcType=INTEGER}
  </update>
</mapper>