<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.ReimburseMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Reimburse" >
    <id column="reim_id" property="reimId" jdbcType="INTEGER" />
    <result column="reim_staffid" property="reimStaffid" jdbcType="INTEGER" />
    <!--<result column="reim_depid" property="reimDepid" jdbcType="INTEGER" />-->
    <result column="reim_matter" property="reimMatter" jdbcType="VARCHAR" />
    <result column="reim_starttime" property="reimStarttime" jdbcType="TIMESTAMP" />
    <result column="reim_endtime" property="reimEndtime" jdbcType="TIMESTAMP" />
    <result column="reim_place" property="reimPlace" jdbcType="VARCHAR" />
    <result column="reim_traffic" property="reimTraffic" jdbcType="DECIMAL" />
    <result column="reim_stay" property="reimStay" jdbcType="DECIMAL" />
    <result column="reim_referr" property="reimReferr" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.bj186.oas.pojo.Reimburse" extends="BaseResultMap">
    <association property="staff" resultMap="com.bj186.oas.mapper.StaffMapper.BaseResultMap"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    reim_id, reim_staffid, reim_matter, reim_starttime, reim_endtime, reim_place,
    reim_traffic, reim_stay, reim_referr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oas_reimburse
    where reim_id = #{reimId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap2" parameterType="java.lang.Integer" >
    select *from (select * from oas_reimburse left join oas_staff on reim_staffid=staff_id) a left join oas_department on a.staff_depID=dep_id

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_reimburse
    where reim_id = #{reimId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Reimburse" >
    insert into oas_reimburse (reim_id, reim_staffid,
      reim_matter, reim_starttime, reim_endtime, 
      reim_place, reim_traffic, reim_stay, 
      reim_referr)
    values (#{reimId,jdbcType=INTEGER}, #{reimStaffid,jdbcType=INTEGER},
      #{reimMatter,jdbcType=VARCHAR}, #{reimStarttime,jdbcType=TIMESTAMP}, #{reimEndtime,jdbcType=TIMESTAMP}, 
      #{reimPlace,jdbcType=VARCHAR}, #{reimTraffic,jdbcType=DECIMAL}, #{reimStay,jdbcType=DECIMAL}, 
      #{reimReferr,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Reimburse" >
    insert into oas_reimburse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reimId != null" >
        reim_id,
      </if>
      <if test="reimStaffid != null" >
        reim_staffid,
      </if>
      <!--<if test="reimDepid != null" >-->
        <!--reim_depid,-->
      <!--</if>-->
      <if test="reimMatter != null" >
        reim_matter,
      </if>
      <if test="reimStarttime != null" >
        reim_starttime,
      </if>
      <if test="reimEndtime != null" >
        reim_endtime,
      </if>
      <if test="reimPlace != null" >
        reim_place,
      </if>
      <if test="reimTraffic != null" >
        reim_traffic,
      </if>
      <if test="reimStay != null" >
        reim_stay,
      </if>
      <if test="reimReferr != null" >
        reim_referr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reimId != null" >
        #{reimId,jdbcType=INTEGER},
      </if>
      <if test="reimStaffid != null" >
        #{reimStaffid,jdbcType=INTEGER},
      </if>
      <!--<if test="reimDepid != null" >-->
        <!--#{reimDepid,jdbcType=INTEGER},-->
      <!--</if>-->
      <if test="reimMatter != null" >
        #{reimMatter,jdbcType=VARCHAR},
      </if>
      <if test="reimStarttime != null" >
        #{reimStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="reimEndtime != null" >
        #{reimEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reimPlace != null" >
        #{reimPlace,jdbcType=VARCHAR},
      </if>
      <if test="reimTraffic != null" >
        #{reimTraffic,jdbcType=DECIMAL},
      </if>
      <if test="reimStay != null" >
        #{reimStay,jdbcType=DECIMAL},
      </if>
      <if test="reimReferr != null" >
        #{reimReferr,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Reimburse" >
    update oas_reimburse
    <set >
      <if test="reimStaffid != null" >
        reim_staffid = #{reimStaffid,jdbcType=INTEGER},
      </if>
      <!--<if test="reimDepid != null" >-->
        <!--reim_depid = #{reimDepid,jdbcType=INTEGER},-->
      <!--</if>-->
      <if test="reimMatter != null" >
        reim_matter = #{reimMatter,jdbcType=VARCHAR},
      </if>
      <if test="reimStarttime != null" >
        reim_starttime = #{reimStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="reimEndtime != null" >
        reim_endtime = #{reimEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reimPlace != null" >
        reim_place = #{reimPlace,jdbcType=VARCHAR},
      </if>
      <if test="reimTraffic != null" >
        reim_traffic = #{reimTraffic,jdbcType=DECIMAL},
      </if>
      <if test="reimStay != null" >
        reim_stay = #{reimStay,jdbcType=DECIMAL},
      </if>
      <if test="reimReferr != null" >
        reim_referr = #{reimReferr,jdbcType=DECIMAL},
      </if>
    </set>
    where reim_id = #{reimId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Reimburse" >
    update oas_reimburse
    set reim_staffid = #{reimStaffid,jdbcType=INTEGER},
--       reim_depid = #{reimDepid,jdbcType=INTEGER},
      reim_matter = #{reimMatter,jdbcType=VARCHAR},
      reim_starttime = #{reimStarttime,jdbcType=TIMESTAMP},
      reim_endtime = #{reimEndtime,jdbcType=TIMESTAMP},
      reim_place = #{reimPlace,jdbcType=VARCHAR},
      reim_traffic = #{reimTraffic,jdbcType=DECIMAL},
      reim_stay = #{reimStay,jdbcType=DECIMAL},
      reim_referr = #{reimReferr,jdbcType=DECIMAL}
    where reim_id = #{reimId,jdbcType=INTEGER}
  </update>
</mapper>