<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.RentMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Rent" >
    <id column="rent_id" property="rentId" jdbcType="INTEGER" />
    <result column="rent_fixid" property="rentFixid" jdbcType="INTEGER" />
    <result column="rent_number" property="rentNumber" jdbcType="INTEGER" />
    <result column="rent_starttime" property="rentStarttime" jdbcType="TIMESTAMP" />
    <result column="rent_endtime" property="rentEndtime" jdbcType="TIMESTAMP" />
    <result column="rent_cond" property="rentCond" jdbcType="INTEGER" />
    <association property="fixed" resultMap="com.bj186.oas.mapper.FixedMapper.BaseResultMap"
  </resultMap>
  <sql id="Base_Column_List" >
    rent_id, rent_fixid, rent_number, rent_starttime, rent_endtime, rent_cond
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oas_rent
    where rent_id = #{rentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_rent
    where rent_id = #{rentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Rent" >
    insert into oas_rent (rent_id, rent_fixid, rent_number, 
      rent_starttime, rent_endtime, rent_cond
      )
    values (#{rentId,jdbcType=INTEGER}, #{rentFixid,jdbcType=INTEGER}, #{rentNumber,jdbcType=INTEGER}, 
      #{rentStarttime,jdbcType=TIMESTAMP}, #{rentEndtime,jdbcType=TIMESTAMP}, #{rentCond,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Rent" >
    insert into oas_rent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rentId != null" >
        rent_id,
      </if>
      <if test="rentFixid != null" >
        rent_fixid,
      </if>
      <if test="rentNumber != null" >
        rent_number,
      </if>
      <if test="rentStarttime != null" >
        rent_starttime,
      </if>
      <if test="rentEndtime != null" >
        rent_endtime,
      </if>
      <if test="rentCond != null" >
        rent_cond,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rentId != null" >
        #{rentId,jdbcType=INTEGER},
      </if>
      <if test="rentFixid != null" >
        #{rentFixid,jdbcType=INTEGER},
      </if>
      <if test="rentNumber != null" >
        #{rentNumber,jdbcType=INTEGER},
      </if>
      <if test="rentStarttime != null" >
        #{rentStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rentEndtime != null" >
        #{rentEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rentCond != null" >
        #{rentCond,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Rent" >
    update oas_rent
    <set >
      <if test="rentFixid != null" >
        rent_fixid = #{rentFixid,jdbcType=INTEGER},
      </if>
      <if test="rentNumber != null" >
        rent_number = #{rentNumber,jdbcType=INTEGER},
      </if>
      <if test="rentStarttime != null" >
        rent_starttime = #{rentStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rentEndtime != null" >
        rent_endtime = #{rentEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rentCond != null" >
        rent_cond = #{rentCond,jdbcType=INTEGER},
      </if>
    </set>
    where rent_id = #{rentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Rent" >
    update oas_rent
    set rent_fixid = #{rentFixid,jdbcType=INTEGER},
      rent_number = #{rentNumber,jdbcType=INTEGER},
      rent_starttime = #{rentStarttime,jdbcType=TIMESTAMP},
      rent_endtime = #{rentEndtime,jdbcType=TIMESTAMP},
      rent_cond = #{rentCond,jdbcType=INTEGER}
    where rent_id = #{rentId,jdbcType=INTEGER}
  </update>
</mapper>