<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Staff" >
    <id column="staff_id" property="staffId" jdbcType="INTEGER" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="staff_sex" property="staffSex" jdbcType="CHAR" />
    <result column="staff_age" property="staffAge" jdbcType="TINYINT" />
    <result column="staff_phone" property="staffPhone" jdbcType="VARCHAR" />
    <result column="staff_idntityCardID" property="staffIdntitycardid" jdbcType="VARCHAR" />
    <result column="staff_birthday" property="staffBirthday" jdbcType="TIMESTAMP" />
    <result column="staff_positionID" property="staffPositionid" jdbcType="INTEGER" />
    <result column="staff_adress" property="staffAdress" jdbcType="VARCHAR" />
    <result column="staff_wage" property="staffWage" jdbcType="VARCHAR" />
    <result column="staff_email" property="staffEmail" jdbcType="VARCHAR" />

    <association property="department" resultMap="com.bj186.oas.mapper.DepartmentMapper.BaseResultMap"></association>
    <association property="position" resultMap="com.bj186.oas.mapper.PositionMapper.BaseResultMap"></association>

    <collection property="powerList" resultMap="com.bj186.oas.mapper.PowerMapper.BaseResultMap"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    staff_id, staff_name, staff_sex, staff_age, staff_phone, staff_idntityCardID, staff_birthday,
    staff_positionID, staff_adress, staff_wage, staff_email, staff_depID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT * FROM (SELECT * FROM (SELECT * FROM (SELECT * FROM
oas_staff a left join oas_department b
on a.staff_depID = b.dep_id) a left join oas_position b on a.staff_positionID = b.position_id) a
left join oas_staffpower b on a.staff_id = b.sp_staffID)a
left join oas_power b on a.sp_powerID = b.power_id where a.staff_id = #{id}
  </select>

  <!--<select id="select" resultMap="BaseResultMap" parameterType="map" >-->
  <!--SELECT * FROM (SELECT * FROM (SELECT * FROM (SELECT * FROM-->
  <!--oas_staff a left join oas_department b-->
  <!--on a.staff_depID = b.dep_id) a left join oas_position b on a.staff_positionID = b.position_id) a-->
  <!--left join oas_staffpower b on a.staff_id = b.sp_staffID)a-->
  <!--left join oas_power b on a.sp_powerID = b.power_id where ${filed} like ${value} limit #{start},#{end}-->
  <!--</select>-->

  <select id="select" parameterType="map" resultMap="BaseResultMap">
    SELECT * FROM (SELECT * FROM (SELECT * FROM (SELECT * FROM
    oas_staff a left join oas_department b
    on a.staff_depID = b.dep_id) a left join oas_position b on a.staff_positionID = b.position_id) a
    left join oas_staffpower b on a.staff_id = b.sp_staffID)a
    left join oas_power b on a.sp_powerID = b.power_id
    <where>
      <if test="filed!=''">
        and ${filed}
      </if>
      <if test="value!= '\'%%\'' ">
        like ${value}
      </if>
    </where>
    limit #{start},#{end}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
   SELECT * FROM (SELECT * FROM (SELECT * FROM (SELECT * FROM
oas_staff a left join oas_department b
on a.staff_depID = b.dep_id) a left join oas_position b on a.staff_positionID = b.position_id) a
left join oas_staffpower b on a.staff_id = b.sp_staffID)a
left join oas_power b on a.sp_powerID = b.power_id
  </select>

  <select id="selectCount" resultType="int">
     SELECT COUNT(*) FROM staff
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_staff
    where staff_id = #{staffId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.bj186.oas.pojo.Staff" useGeneratedKeys="true" keyProperty="staffId" >
    insert into oas_staff (staff_id, staff_name, staff_sex, 
      staff_age, staff_phone, staff_idntityCardID, 
      staff_birthday, staff_positionID, staff_adress, 
      staff_wage, staff_email, staff_depID
      )
    values (#{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{staffSex,jdbcType=CHAR}, 
      #{staffAge,jdbcType=TINYINT}, #{staffPhone,jdbcType=VARCHAR}, #{staffIdntitycardid,jdbcType=VARCHAR}, 
      #{staffBirthday,jdbcType=TIMESTAMP}, #{position.positionId,jdbcType=INTEGER}, #{staffAdress,jdbcType=VARCHAR},
      #{staffWage,jdbcType=VARCHAR}, #{staffEmail,jdbcType=VARCHAR}, #{department.depId,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Staff" >
    insert into oas_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="staffName != null" >
        staff_name,
      </if>
      <if test="staffSex != null" >
        staff_sex,
      </if>
      <if test="staffAge != null" >
        staff_age,
      </if>
      <if test="staffPhone != null" >
        staff_phone,
      </if>
      <if test="staffIdntitycardid != null" >
        staff_idntityCardID,
      </if>
      <if test="staffBirthday != null" >
        staff_birthday,
      </if>
      <if test="staffPositionid != null" >
        staff_positionID,
      </if>
      <if test="staffAdress != null" >
        staff_adress,
      </if>
      <if test="staffWage != null" >
        staff_wage,
      </if>
      <if test="staffEmail != null" >
        staff_email,
      </if>
      <if test="staffDepid != null" >
        staff_depID,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffSex != null" >
        #{staffSex,jdbcType=CHAR},
      </if>
      <if test="staffAge != null" >
        #{staffAge,jdbcType=TINYINT},
      </if>
      <if test="staffPhone != null" >
        #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="staffIdntitycardid != null" >
        #{staffIdntitycardid,jdbcType=VARCHAR},
      </if>
      <if test="staffBirthday != null" >
        #{staffBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="staffPositionid != null" >
        #{staffPositionid,jdbcType=INTEGER},
      </if>
      <if test="staffAdress != null" >
        #{staffAdress,jdbcType=VARCHAR},
      </if>
      <if test="staffWage != null" >
        #{staffWage,jdbcType=VARCHAR},
      </if>
      <if test="staffEmail != null" >
        #{staffEmail,jdbcType=VARCHAR},
      </if>
      <if test="staffDepid != null" >
        #{staffDepid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Staff" >
    update oas_staff
    <set >
      <if test="staffName != null" >
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffSex != null" >
        staff_sex = #{staffSex,jdbcType=CHAR},
      </if>
      <if test="staffAge != null" >
        staff_age = #{staffAge,jdbcType=TINYINT},
      </if>
      <if test="staffPhone != null" >
        staff_phone = #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="staffIdntitycardid != null" >
        staff_idntityCardID = #{staffIdntitycardid,jdbcType=VARCHAR},
      </if>
      <if test="staffBirthday != null" >
        staff_birthday = #{staffBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="position.positionId != null" >
        staff_positionID = #{position.positionId,jdbcType=INTEGER},
      </if>
      <if test="staffAdress != null" >
        staff_adress = #{staffAdress,jdbcType=VARCHAR},
      </if>
      <if test="staffWage != null" >
        staff_wage = #{staffWage,jdbcType=VARCHAR},
      </if>
      <if test="staffEmail != null" >
        staff_email = #{staffEmail,jdbcType=VARCHAR},
      </if>
      <if test="department.depId != null" >
        staff_depID = #{department.depId,jdbcType=INTEGER},
      </if>
    </set>
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Staff" >
    update oas_staff
    set staff_name = #{staffName,jdbcType=VARCHAR},
      staff_sex = #{staffSex,jdbcType=CHAR},
      staff_age = #{staffAge,jdbcType=TINYINT},
      staff_phone = #{staffPhone,jdbcType=VARCHAR},
      staff_idntityCardID = #{staffIdntitycardid,jdbcType=VARCHAR},
      staff_birthday = #{staffBirthday,jdbcType=TIMESTAMP},
      staff_positionID = #{position.positionId,jdbcType=INTEGER},
      staff_adress = #{staffAdress,jdbcType=VARCHAR},
      staff_wage = #{staffWage,jdbcType=VARCHAR},
      staff_email = #{staffEmail,jdbcType=VARCHAR},
      staff_depID = #{department.depId,jdbcType=INTEGER}
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>



  <select id="SelLeader" parameterType="int" resultType="int">
    SELECT  dep_managerid from oas_staff LEFT JOIN oas_department ON staff_depID=dep_id  where staff_id=#{sid};
  </select>

  <select id="SelGouop" parameterType="map" resultType="int">
    SELECT Staff_id FROM oas_staff
    LEFT JOIN oas_department ON staff_depID=oas_department.dep_id
    LEFT JOIN oas_position ON staff_positionID= position_id
   <where>
     <if test="groupLer!=null">
       AND position_name=#{groupLer}
     </if>
     <if test="sid!=null">
       AND staff_depID=(SELECT staff_depID FROM oas_staff where staff_id=#{sid})
     </if>
     <if test="depname!=null">
       AND dep_name=#{depname}
     </if>
   </where>
    <!--where position_name=#{groupLer} AND staff_depID=(SELECT staff_depID FROM oas_staff where staff_id=#{sid})-->
  </select>

  <select id="SelPsot" parameterType="int" resultType="string">
    SELECT position_name,dep_name FROM oas_staff
    LEFT JOIN oas_position ON staff_positionID= position_id
    LEFT JOIN oas_department ON staff_depID=oas_department.dep_id
    where staff_id=#{sid}
  </select>
</mapper>