<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.oas.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.Staff">
    <id column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_sex" jdbcType="CHAR" property="staffSex" />
    <result column="staff_age" jdbcType="TINYINT" property="staffAge" />
    <result column="staff_phone" jdbcType="VARCHAR" property="staffPhone" />
    <result column="staff_idntityCardID" jdbcType="VARCHAR" property="staffIdntitycardid" />
    <result column="staff_birthday" jdbcType="TIMESTAMP" property="staffBirthday" />
    <result column="staff_positionid" jdbcType="INTEGER" property="staffPositionid" />
    <result column="staff_adress" jdbcType="VARCHAR" property="staffAdress" />
    <result column="staff_wage" jdbcType="VARCHAR" property="staffWage" />
    <result column="staff_email" jdbcType="VARCHAR" property="staffEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    staff_id, staff_name, staff_sex, staff_age, staff_phone, staff_idntityCardID, staff_birthday, 
    staff_positionid, staff_adress, staff_wage, staff_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oas_staff
    where staff_id = #{staffId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oas_staff
    where staff_id = #{staffId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.Staff">
    insert into oas_staff (staff_id, staff_name, staff_sex, 
      staff_age, staff_phone, staff_idntityCardID, 
      staff_birthday, staff_positionid, staff_adress, 
      staff_wage, staff_email)
    values (#{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{staffSex,jdbcType=CHAR}, 
      #{staffAge,jdbcType=TINYINT}, #{staffPhone,jdbcType=VARCHAR}, #{staffIdntitycardid,jdbcType=VARCHAR}, 
      #{staffBirthday,jdbcType=TIMESTAMP}, #{staffPositionid,jdbcType=INTEGER}, #{staffAdress,jdbcType=VARCHAR}, 
      #{staffWage,jdbcType=VARCHAR}, #{staffEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.Staff">
    insert into oas_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffSex != null">
        staff_sex,
      </if>
      <if test="staffAge != null">
        staff_age,
      </if>
      <if test="staffPhone != null">
        staff_phone,
      </if>
      <if test="staffIdntitycardid != null">
        staff_idntityCardID,
      </if>
      <if test="staffBirthday != null">
        staff_birthday,
      </if>
      <if test="staffPositionid != null">
        staff_positionid,
      </if>
      <if test="staffAdress != null">
        staff_adress,
      </if>
      <if test="staffWage != null">
        staff_wage,
      </if>
      <if test="staffEmail != null">
        staff_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffSex != null">
        #{staffSex,jdbcType=CHAR},
      </if>
      <if test="staffAge != null">
        #{staffAge,jdbcType=TINYINT},
      </if>
      <if test="staffPhone != null">
        #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="staffIdntitycardid != null">
        #{staffIdntitycardid,jdbcType=VARCHAR},
      </if>
      <if test="staffBirthday != null">
        #{staffBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="staffPositionid != null">
        #{staffPositionid,jdbcType=INTEGER},
      </if>
      <if test="staffAdress != null">
        #{staffAdress,jdbcType=VARCHAR},
      </if>
      <if test="staffWage != null">
        #{staffWage,jdbcType=VARCHAR},
      </if>
      <if test="staffEmail != null">
        #{staffEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.Staff">
    update oas_staff
    <set>
      <if test="staffName != null">
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffSex != null">
        staff_sex = #{staffSex,jdbcType=CHAR},
      </if>
      <if test="staffAge != null">
        staff_age = #{staffAge,jdbcType=TINYINT},
      </if>
      <if test="staffPhone != null">
        staff_phone = #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="staffIdntitycardid != null">
        staff_idntityCardID = #{staffIdntitycardid,jdbcType=VARCHAR},
      </if>
      <if test="staffBirthday != null">
        staff_birthday = #{staffBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="staffPositionid != null">
        staff_positionid = #{staffPositionid,jdbcType=INTEGER},
      </if>
      <if test="staffAdress != null">
        staff_adress = #{staffAdress,jdbcType=VARCHAR},
      </if>
      <if test="staffWage != null">
        staff_wage = #{staffWage,jdbcType=VARCHAR},
      </if>
      <if test="staffEmail != null">
        staff_email = #{staffEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.Staff">
    update oas_staff
    set staff_name = #{staffName,jdbcType=VARCHAR},
      staff_sex = #{staffSex,jdbcType=CHAR},
      staff_age = #{staffAge,jdbcType=TINYINT},
      staff_phone = #{staffPhone,jdbcType=VARCHAR},
      staff_idntityCardID = #{staffIdntitycardid,jdbcType=VARCHAR},
      staff_birthday = #{staffBirthday,jdbcType=TIMESTAMP},
      staff_positionid = #{staffPositionid,jdbcType=INTEGER},
      staff_adress = #{staffAdress,jdbcType=VARCHAR},
      staff_wage = #{staffWage,jdbcType=VARCHAR},
      staff_email = #{staffEmail,jdbcType=VARCHAR}
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>
</mapper>