<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.oas.mapper.WorkLogMapper">
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.WorkLog">
    <id column="worklog_id" jdbcType="INTEGER" property="worklogId" />
    <result column="worklog_name" jdbcType="VARCHAR" property="worklogName" />
    <result column="worklog_createdate" jdbcType="TIMESTAMP" property="worklogCreatedate" />
    <result column="worklog_updatetime" jdbcType="TIMESTAMP" property="worklogUpdatetime" />
    <result column="worklog_createID" jdbcType="INTEGER" property="worklogCreateid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bj186.oas.pojo.WorkLog">
    <result column="worklog_content" jdbcType="LONGVARCHAR" property="worklogContent" />
  </resultMap>
  <sql id="Base_Column_List">
    worklog_id, worklog_name, worklog_createdate, worklog_updatetime, worklog_createID
  </sql>
  <sql id="Blob_Column_List">
    worklog_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oas_worklog
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oas_worklog
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.WorkLog">
    insert into oas_worklog (worklog_id, worklog_name, worklog_createdate, 
      worklog_updatetime, worklog_createID, worklog_content
      )
    values (#{worklogId,jdbcType=INTEGER}, #{worklogName,jdbcType=VARCHAR}, #{worklogCreatedate,jdbcType=TIMESTAMP}, 
      #{worklogUpdatetime,jdbcType=TIMESTAMP}, #{worklogCreateid,jdbcType=INTEGER}, #{worklogContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.WorkLog">
    insert into oas_worklog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="worklogId != null">
        worklog_id,
      </if>
      <if test="worklogName != null">
        worklog_name,
      </if>
      <if test="worklogCreatedate != null">
        worklog_createdate,
      </if>
      <if test="worklogUpdatetime != null">
        worklog_updatetime,
      </if>
      <if test="worklogCreateid != null">
        worklog_createID,
      </if>
      <if test="worklogContent != null">
        worklog_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="worklogId != null">
        #{worklogId,jdbcType=INTEGER},
      </if>
      <if test="worklogName != null">
        #{worklogName,jdbcType=VARCHAR},
      </if>
      <if test="worklogCreatedate != null">
        #{worklogCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogUpdatetime != null">
        #{worklogUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogCreateid != null">
        #{worklogCreateid,jdbcType=INTEGER},
      </if>
      <if test="worklogContent != null">
        #{worklogContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.WorkLog">
    update oas_worklog
    <set>
      <if test="worklogName != null">
        worklog_name = #{worklogName,jdbcType=VARCHAR},
      </if>
      <if test="worklogCreatedate != null">
        worklog_createdate = #{worklogCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogUpdatetime != null">
        worklog_updatetime = #{worklogUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogCreateid != null">
        worklog_createID = #{worklogCreateid,jdbcType=INTEGER},
      </if>
      <if test="worklogContent != null">
        worklog_content = #{worklogContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bj186.oas.pojo.WorkLog">
    update oas_worklog
    set worklog_name = #{worklogName,jdbcType=VARCHAR},
      worklog_createdate = #{worklogCreatedate,jdbcType=TIMESTAMP},
      worklog_updatetime = #{worklogUpdatetime,jdbcType=TIMESTAMP},
      worklog_createID = #{worklogCreateid,jdbcType=INTEGER},
      worklog_content = #{worklogContent,jdbcType=LONGVARCHAR}
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.WorkLog">
    update oas_worklog
    set worklog_name = #{worklogName,jdbcType=VARCHAR},
      worklog_createdate = #{worklogCreatedate,jdbcType=TIMESTAMP},
      worklog_updatetime = #{worklogUpdatetime,jdbcType=TIMESTAMP},
      worklog_createID = #{worklogCreateid,jdbcType=INTEGER}
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </update>
</mapper>