<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj186.oas.mapper.WorkLogMapper" >
  <resultMap id="BaseResultMap" type="com.bj186.oas.pojo.WorkLog" >
    <id column="worklog_id" property="worklogId" jdbcType="INTEGER" />
    <result column="worklog_name" property="worklogName" jdbcType="VARCHAR" />
    <result column="worklog_createdate" property="worklogCreatedate" jdbcType="TIMESTAMP" />
    <result column="worklog_updatetime" property="worklogUpdatetime" jdbcType="TIMESTAMP" />
    <result column="worklog_createID" property="worklogCreateid" jdbcType="INTEGER" />
    <result column="worklog_content" property="worklogContent" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bj186.oas.pojo.WorkLog" extends="BaseResultMap" >
    <result column="worklog_content" property="worklogContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    worklog_id, worklog_name, worklog_createdate, worklog_updatetime, worklog_createID
  </sql>
  <sql id="Blob_Column_List" >
    worklog_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oas_worklog
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oas_worklog
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.oas.pojo.WorkLog" >
    insert into oas_worklog (worklog_id, worklog_name, worklog_createdate, 
      worklog_updatetime, worklog_createID, worklog_content
      )
    values (#{worklogId,jdbcType=INTEGER}, #{worklogName,jdbcType=VARCHAR}, #{worklogCreatedate,jdbcType=TIMESTAMP}, 
      #{worklogUpdatetime,jdbcType=TIMESTAMP}, #{worklogCreateid,jdbcType=INTEGER}, #{worklogContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.oas.pojo.WorkLog" >
    insert into oas_worklog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="worklogId != null" >
        worklog_id,
      </if>
      <if test="worklogName != null" >
        worklog_name,
      </if>
      <if test="worklogCreatedate != null" >
        worklog_createdate,
      </if>
      <if test="worklogUpdatetime != null" >
        worklog_updatetime,
      </if>
      <if test="worklogCreateid != null" >
        worklog_createID,
      </if>
      <if test="worklogContent != null" >
        worklog_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="worklogId != null" >
        #{worklogId,jdbcType=INTEGER},
      </if>
      <if test="worklogName != null" >
        #{worklogName,jdbcType=VARCHAR},
      </if>
      <if test="worklogCreatedate != null" >
        #{worklogCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogUpdatetime != null" >
        #{worklogUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogCreateid != null" >
        #{worklogCreateid,jdbcType=INTEGER},
      </if>
      <if test="worklogContent != null" >
        #{worklogContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.oas.pojo.WorkLog" >
    update oas_worklog
    <set >
      <if test="worklogName != null" >
        worklog_name = #{worklogName,jdbcType=VARCHAR},
      </if>
      <if test="worklogCreatedate != null" >
        worklog_createdate = #{worklogCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogUpdatetime != null" >
        worklog_updatetime = #{worklogUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="worklogCreateid != null" >
        worklog_createID = #{worklogCreateid,jdbcType=INTEGER},
      </if>
      <if test="worklogContent != null" >
        worklog_content = #{worklogContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bj186.oas.pojo.WorkLog" >
    update oas_worklog
    set worklog_name = #{worklogName,jdbcType=VARCHAR},
      worklog_createdate = #{worklogCreatedate,jdbcType=TIMESTAMP},
      worklog_updatetime = #{worklogUpdatetime,jdbcType=TIMESTAMP},
      worklog_createID = #{worklogCreateid,jdbcType=INTEGER},
      worklog_content = #{worklogContent,jdbcType=LONGVARCHAR}
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.oas.pojo.WorkLog" >
    update oas_worklog
    set worklog_name = #{worklogName,jdbcType=VARCHAR},
      worklog_createdate = #{worklogCreatedate,jdbcType=TIMESTAMP},
      worklog_updatetime = #{worklogUpdatetime,jdbcType=TIMESTAMP},
      worklog_createID = #{worklogCreateid,jdbcType=INTEGER}
    where worklog_id = #{worklogId,jdbcType=INTEGER}
  </update>
  <!--
    动态sql查询方法
  -->
  <select id="selectWorkBymapper" resultMap="BaseResultMap" parameterType="com.bj186.oas.pojo.personalpojo.WorkLogUtil">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oas_worklog
    <where>
     <include refid="limitpage"/>
    </where>
  </select>

  <!--
    不能分页查询！
  -->
  <sql id="limitpage">
    <if test="worklogCreateid!=null">
      and worklog_createID=#{worklogCreateid}
    </if>
    <!--
      通过创建时间区间查询
    -->
    <!--大于传递进来的时间-->
    <if test="workLogCreatedate1!=null and workLogCreatedate1!=''">
      and worklog_createdate &gt;=#{workLogCreatedate1}
    </if>
    <!--小于传递进来的时间-->
    <if test="workLogCreatedate2!=null and workLogCreatedate2!=''">
      and worklog_createdate &lt;=#{workLogCreatedate2}
    </if>
    <!--通过修改时间查询!-->
    <!--大于传递进来的时间-->
    <if test="worklogUpdatetime1!=null and worklogUpdatetime1!=null">
      and worklog_updatetime &gt;=#{worklogUpdatetime1}
    </if>
    <!--小于传递进来的时间-->
    <if test="worklogUpdatetime2!=null and worklogUpdatetime2!=null">
      and worklog_updatetime &lt;=#{worklogUpdatetime2}
    </if>
  </sql>
  <!--可以分页的查询！-->
  <sql id="workPageLimit">
    <include refid="limitpage"/>
    <if test="pageSize!=null and pageThis!=null">
      LIMIT #{pageThis},#{pageSize}
    </if>
  </sql>

  <select id="selCount" resultType="int" parameterType="com.bj186.oas.pojo.personalpojo.WorkLogUtil">
    select count(*) as count from oas_worklog
    <where>
      <include refid="limitpage"/>
    </where>
  </select>

  <resultMap id="selLimitWorkMap" type="com.bj186.oas.pojo.personalpojo.Paging">
    <result column="cot" property="cot"/>
    <collection property="data" resultMap="BaseResultMap"/>
  </resultMap>

  <select id="selLimitWork" resultMap="selLimitWorkMap" parameterType="com.bj186.oas.pojo.personalpojo.WorkLogUtil">
    SELECT oas_worklog.*,
    (SELECT count(*) FROM oas_worklog
    <where>
      <include refid="limitpage"/>
    </where>
    ) as cot
    FROM oas_worklog
    <where>
      <include refid="workPageLimit"/>
    </where>
  </select>
</mapper>