<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.oa.mapper.FoodMapper">    <!--命名空间在代码中要使用-->
    <resultMap id="foodMap" type="Food">
        <id property="foodID" column="foodID"></id>
        <result property="foodName" column="foodName"></result>
        <result property="price" column="price"></result>
        <result property="foodType" column="foodType"></result>
        <result property="imgUrl" column="imgUrl"></result>
        <result property="sheifTime" column="sheifTime"></result>
    </resultMap>
    <resultMap id="foodMap2" type="Food" extends="foodMap">
        <collection  property="bills" resultMap="com.bj186.oa.mapper.BillMapper.billMap">
        </collection>
    </resultMap>
    <select id="selectFoodById" parameterType="Long" resultMap="foodMap2">
         SELECT * FROM (SELECT a.*,b.foodID FROM bill a left join billfood b on a.billID = b.billID) a left join food b on a.foodID = b.foodID where b.foodID = #{id}
    </select>
</mapper>
