<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.oa.mapper.UserMapper">    <!--命名空间在代码中要使用-->
    <select id="selectUserById" parameterType="long" resultType="User">
        select * from user where uID = #{uID}
    </select>
    <resultMap id="userMap" type="User">
        <id property="uID" column="uID"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
    </resultMap>
    <select id="selectUserById2" parameterType="long" resultMap="userMap">
        select * from user where uID = #{uID}
    </select>
    <select id="selectAll" resultMap="userMap">
        select * from user
    </select>
    <insert id="addUser" parameterType="User"
            useGeneratedKeys="true" keyProperty="uID">
        insert into user values(#{uID},#{username},#{password})
    </insert>
    <update id="updateUser" parameterType="User">
    		update User set username=#{username},password=#{password} where uID=#{uID}
    </update>
    <delete id="deleteUser" parameterType="User">
    	delete from User where uID=#{uID}
    </delete>



</mapper>
