<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.crm.mapper.GoodsDetailMapper">    <!--命名空间在代码中要使用-->
    <resultMap id="goodsDetailMap" type="GoodsDetail">
        <id property="gdID" column="gdID"></id>
        <result property="details" column="details"></result>
        <association property="goods" resultMap="com.bj186.crm.mapper.GoodsMapper.goodsMap"></association>
    </resultMap>
    <select id="selectGoodsDetailById" parameterType="long" resultMap="goodsDetailMap">
        SELECT * FROM goods a left join goodsdetail b on a.gid = b.gID where b.gdID = #{gdID}
    </select>

</mapper>
